<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Présentation - Home-Fonta.fr</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='images/ours.jpg') }}" type="image/png">
</head>
  <body class="page-presentation">
  <!-- Emplacement du menu -->
  <div id="menu-placeholder"></div>
  
  <main class="content">
        	<div class="presentation-content">
    		<h1>Présentation</h1>
	    <p>
	      Passionné par la technologie, la photo et l’automatisation.<br><br>
	      Ce site rassemble mes projets, mes idées, et quelques clichés que j’ai réalisés.
        
        Voici mon premier projet, il consiste à me créer une infrastructure basée sur Kubernetes k3s.
        Sur ce blog je vais expliquer étape par étape ce que j'ai fait pour arriver à mon objectif.<br><br>
	    </p>
      </div class="link-list">
        <a href="https://blog.home-fonta.fr" target="_blank">Blog</a>
      </div>
	 </div>
  </main>
  
  <footer>
    Hébergé en France — © 2025 Home-Fonta.fr
  </footer>
  
  <!-- Chargement du menu -->
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      fetch("/menu")
        .then(res => {
          if (!res.ok) throw new Error("Erreur HTTP " + res.status);
          return res.text();
        })
        .then(html => {
          const placeholder = document.getElementById("menu-placeholder");
          if (placeholder) placeholder.innerHTML = html;
          
          const toggleButton = document.createElement("button");
          toggleButton.classList.add("menu-toggle");
          toggleButton.textContent = "☰";
          document.body.appendChild(toggleButton);
          
          const overlay = document.createElement("div");
          overlay.classList.add("overlay");
          document.body.appendChild(overlay);
          
          setTimeout(() => {
            const sidebar = document.querySelector(".sidebar");
            if (!sidebar) return;
            
            const toggleMenu = () => {
              sidebar.classList.toggle("show");
              overlay.classList.toggle("show");
            };
            
            toggleButton.addEventListener("click", toggleMenu);
            overlay.addEventListener("click", toggleMenu);
          }, 100);
        })
        .catch(err => console.error("Erreur menu:", err));
    });
  </script>
  
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
